.carousel {
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  gap: var(--carousel-gap);
}

.carousel-slide {
  flex-shrink: 0;
  width: 100%;
  transition: transform ease 1s;
}

@media (min-width: 768px) {
  .carousel-slide {
    width: calc((100% - var(--carousel-gap)) / 2);
  }
}

@media (min-width: 992px) {
  .carousel-slide {
    width: calc((100% - var(--carousel-gap) * 2) / 3);
  }
}
