.progress-bar-wrap {
  background: rgba(255, 255, 255, 0.2);
}

.progress-bar {
  width: 1px;
  height: 10px;
  transition: 1s;
  background-color: var(--accent-color);
}

@media (max-width: 576px) {
  .progress-bar {
    height: 8px;
  }
}
