:root {
  --main-color: #ffffff;
  --second-color: #aaaaaa;
  --third-color: #999999;
  --accent-color: #be264c;
  --border-color: #666666;
  --main-bg-color: #040404;
  --second-bg-color: rgba(0, 0, 0, 0.5);
  --accent-second-color: rgba(255, 255, 255, 0.08);
}
