body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  position: relative;
  background: transparent;
}

body::before {
  content: '';
  position: fixed;
  background: var(--main-bg-color) url('./assets/img/bg.jpg') top center
    no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  animation: ani-mobile 0.75s forwards;
  z-index: 2;
}

@keyframes ani {
  0% {
    top: 340px;
    bottom: 100%;
    opacity: 0;
  }

  100% {
    top: 100px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 45px;
  }
}

@keyframes ani-mobile {
  0% {
    top: 240px;
    bottom: 100%;
    opacity: 0;
  }

  100% {
    top: 80px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 45px;
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
  box-sizing: border-box;
}

.page-wrp {
  background: var(--second-bg-color);
  padding: 30px 30px 0;
}

@media (max-width: 576px) {
  .page-wrp {
    padding: 30px 20px 0;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: var(--container-sm);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: var(--container-md);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: var(--container-lg);
  }

  section {
    animation: ani 0.75s forwards;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: var(--container-xl);
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: var(--container-xxl);
  }
}
