:root {
  --carousel-gap: 30px;
  --carousel-image-ratio: calc(720 / 1018);
  --container-xxl: 1320px;
  --container-xl: 1140px;
  --container-lg: 960px;
  --container-md: 720px;
  --container-sm: 540px;
  --container-padding: 30px;
}
